.gray{
    background-color: gray;
}
.tomato{
    background-color: tomato;
}
.yellow_green{
    background-color: yellowgreen;
}
.blue{
    background-color: blue;
}
.maroon{
    background-color: maroon;
}
.pink{
    background-color: pink;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.aqua{
    background-color: aqua;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
    color:white;
}
.orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#brown{
    background-color: brown;
}
#light_green{
    background-color: lightgreen;
}
#light_blue{
    background-color: lightblue;
}
#light_pink{
    background-color: lightpink;
}
#dark_orange{
    background-color: darkorange;
}
#light_gray{
    background-color: lightgray;
}
#light_goldenrodyellow{
    background-color: lightgoldenrodyellow;
}
#dark_blue{
    background-color: darkblue;
}
#green_yellow{
    background-color: greenyellow;
}
#light_yellow{
    background-color: lightyellow;
}
#dark_red{
    background-color: darkred;
}